<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="Connection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Sales.accdb" />
  <add name="sales.Properties.Settings.Database1ConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Users\thoma\Desktop\Sales\sales\sales\Database1.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>